/* MEDIA QUERY******************************************************************** */

@media (max-width: 80em) {
  .amirah-pic-top {
    width: 280px !important;
  }

  .where-img {
    width: 400px;
  }

  .when-left {
    justify-self: center;
  }

  .main-div {
    gap: 3.5rem !important;
  }

  .rsvp-p-container {
    max-width: 50% !important;
  }

  .rsvp-p-bot-para {
    max-width: 40% !important;
  }
}

@media (max-width: 69em) {
  header {
    font-size: 1rem !important;
  }

  .amirah-pic-top {
    width: 250px !important;
  }

  #gradient,
  .rainbow-text {
    font-size: 2rem !important;
  }

  .main-div {
    gap: 2rem !important;
  }

  .right-para > p {
    font-size: 1rem !important;
  }

  #countdown {
    font-size: 3.4rem !important;
  }

  .heading-secondary {
    font-size: 3.8rem !important;
  }

  .grid-2-cols {
    row-gap: 4rem !important;
  }

  .where-img {
    width: 500px;
  }

  .flex-church img {
    width: 32px;
    height: 32px;
  }

  .icons-img {
    width: 30px !important;
    height: 30px !important;
  }

  figcaption {
    font-size: 0.2rem;
  }

  #contact {
    font-size: 1.4rem !important;
  }

  .rsvp-p-container {
    max-width: 60% !important;
  }

  .box h2 {
    font-size: 2rem;
  }
}

@media (max-width: 60em) {
  .rainbow-text {
    font-size: 1.8rem !important;
  }

  .when-right,
  .when-left {
    font-size: 1.4rem !important;
  }

  .grid-2-cols {
    row-gap: 2rem !important;
    column-gap: 2rem !important;
  }

  #contact {
    font-size: 1.2rem !important;
  }
  .rsvp-p-container {
    max-width: 70% !important;
  }
}

@media (max-width: 55em) {
  header {
    font-size: 0.8rem !important;
  }
  .amirah-pic-top {
    width: 200px !important;
  }

  #gradient,
  .rainbow-text,
  .right-para h1 {
    font-size: 1.6rem !important;
  }

  #countdown {
    font-size: 3rem !important;
  }

  .heading-secondary {
    font-size: 3.4rem !important;
  }

  .where-img {
    width: 350px;
  }

  .when {
    font-size: 1rem !important;
  }

  #contact {
    font-size: 1rem !important;
  }
  .box h2 {
    font-size: 1.6rem;
  }

  .rsvp-p-bot-para {
    max-width: 50% !important;
  }
}

@media (max-width: 49em) {
  #gradient,
  .rainbow-text,
  .right-para h1 {
    font-size: 1.4rem !important;
  }
  .amirah-pic-top {
    width: 190px !important;
    height: 200px !important;
  }

  #countdown {
    font-size: 2.6rem !important;
  }
  .where-img {
    width: 280px !important;
    height: 300px !important;
  }

  .when-right,
  .when-left {
    font-size: 1.2rem !important;
  }

  #rsvp {
    height: 100%;
  }

  .contact-container {
    gap: 2rem !important;
  }

  .grid-2-cols {
    column-gap: 2rem !important;
  }

  .rsvp-p-container {
    font-size: 1.2rem !important;
    max-width: 50% !important;
  }

  .rsvp-p-bot-para {
    font-size: 0.8rem !important;
    max-width: 50% !important;
  }

  .rsvp-icon {
    width: 37px;
    height: 37px;
  }
}

@media (max-width: 41em) {
  #countdown {
    font-size: 2rem !important;
  }
  .where-img {
    width: 248px !important;
    height: 270px !important;
  }

  .heading-secondary {
    font-size: 2rem !important;
  }

  .when-right,
  .when-left {
    font-size: 1rem !important;
  }

  .small {
    font-size: 0.6rem !important;
  }

  #contact {
    font-size: 0.8rem !important;
  }
  .box h2 {
    font-size: 1.2rem;
  }

  .contact-container {
    grid-template-columns: 1fr !important;
    row-gap: 2rem !important;
  }

  .rsvp-p-container {
    max-width: 80% !important;
  }
}

@media (max-width: 38em) {
  .flex-church h2 {
    font-size: 1.2rem !important;
  }

  .where-img {
    width: 300px !important;
    height: auto !important;
  }

  .padding-top-bot {
    margin: 4rem 0 !important;
  }
  .when-right,
  .when-left {
    font-size: 0.8rem !important;
  }

  .grid-2-cols {
    column-gap: 1rem !important;
  }
}

@media (max-width: 33em) {
  header {
    margin-bottom: 2rem;
  }

  .amirah-header > h1 {
    font-size: 1rem;
  }

  .amirah-header {
    padding: 0;
    margin-left: 0;
  }

  .main-section {
    width: 100%;
  }

  .list-none {
    margin-right: 0;
  }

  ul > li {
    font-size: 0.8rem;
  }

  .main-div {
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }

  #gradient {
    font-size: 30px;
  }

  .margin-bottom {
    margin-bottom: 2rem;
  }

  .when {
    font-size: 1.2rem !important;
    line-height: 1.2 !important;
  }

  .left-img,
  .right-img,
  .when-right,
  .when-left {
    padding: 0 !important;
  }

  .left-img,
  .when-left,
  .when-right {
    justify-self: center !important;
  }

  .where-img {
    width: 550px !important;
    height: auto !important;
  }

  .container {
    width: 50%;
    margin: 0 auto 4rem auto;
  }

  .grid-2-cols {
    grid-template-columns: 1fr !important;
    gap: 1.8rem !important;
  }

  .right-img {
    grid-row: 3;
  }

  .contact-container {
    grid-template-columns: 1fr !important;
    row-gap: 2rem !important;
  }
}

@media (max-width: 28em) {
  .amirah-header > h1 {
    font-size: 0.8rem;
  }

  #countdown {
    font-size: 1.6rem !important;
  }

  ul > li {
    font-size: 0.6rem;
  }

  .right-para > p {
    font-size: 1rem !important;
  }

  .rsvp-p-container {
    font-size: 1rem !important;
  }

  .contact-header h2 {
    font-size: 1.2rem;
  }

  .copyright {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 25em) {
  .rsvp-p-bot-para {
    font-size: 0.6rem !important;
  }
}

@media (max-width: 21.5em) {
  .amirah-header > h1 {
    font-size: 0.6rem;
  }

  #gradient,
  .rainbow-text,
  .right-para h1 {
    font-size: 1rem !important;
  }

  audio {
    width: 100%;
  }

  .amirah-header {
    margin-left: 0.5rem !important;
    padding-left: 0 !important;
  }

  .right-para > p {
    font-size: 0.6rem !important;
  }
  ul > li {
    font-size: 0.4rem;
  }

  #countdown {
    font-size: 1.4rem !important;
  }

  .heading-secondary {
    font-size: 1.6rem !important;
  }

  .where-img {
    width: 200px;
    height: 190px;
  }

  .when {
    font-size: 0.8rem !important;
    line-height: 2 !important;
  }

  #contact {
    font-size: 0.6rem !important;
  }

  .contact-container {
    max-width: 100% !important;
  }
  .box h2 {
    font-size: 1rem;
  }

  .contact-icons {
    gap: 0 !important;
  }

  .copyright {
    font-size: 0.6rem !important;
  }
}
